
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{


    <script>
        $(function () {
           
        });

       
    </script>
}


<h2>RabbitMQ测试</h2>

