@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mencache 缓存测试</title>
   
</head>

<body>
    <div>
        Mencache 缓存测试

    </div>
</body>
</html>
