@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Redis测试</title>

    

</head>

<body>
    <div>
        Redis测试
    </div>
</body>
</html>
