<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="connStr" connectionString="Data Source=ZHANGYI;database=HuNi; User ID=sa;Password=123;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <!--PDF.NET SQL 日志记录配置（for 4.0）开始
        记录执行的SQL语句，关闭此功能请将SaveCommandLog 设置为False，或者设置DataLogFile 为空；
        如果DataLogFile 的路径中包括~符号，表示SQL日志路径为当前Web应用程序的根目录；
        如果DataLogFile 不为空且为有效的路径，当系统执行SQL出现了错误，即使SaveCommandLog 设置为False，会且仅仅记录出错的这些SQL语句；
        如果DataLogFile 不为空且为有效的路径，且SaveCommandLog 设置为True，则会记录所有的SQL查询。
        在正式生产环境中，如果不需要调试系统，请将SaveCommandLog 设置为False 。
    -->
    <add key="SaveCommandLog" value="True"/>
    <add key="DataLogFile" value="~\SqlLog.txt"/>
    <!--LogExecutedTime 需要记录的时间，如果该值等于0会记录所有查询，否则只记录大于该时间的查询。单位毫秒。-->
    <add key="LogExecutedTime" value ="300"/>
    <!--LogBufferCount 日志信息缓存的数量，如果该值等于0会立即写入日志文件，默认缓存20条信息；注意一次查询可能会写入多条日志信息-->
    <add key="LogBufferCount" value ="20"/>
    <!--PDF.NET SQL 日志记录配置 结束-->
  </appSettings>
  
</configuration>